// .row {
//   display: flex;
// }

.button {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  margin: 1em 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px);
  justify-content: flex-start;
  align-items: center
}

.container {}

.root {
  width: 100%
}

.action {
  width: 100%
}

.actions {
  justify-content: space-between
}

.modal {
  display: flex;
  flex-direction: column;
}

.paper {
  // [theme.breakpoints.down(md)]: {
  //   height: 100vh;
  //   width: 100vw
  // };
  // [theme.breakpoints.up(md)]: {
  //   height: 80vh;
  //   width: 70vw
  // }
}