.textField {
  width: 100%;
}

.form {}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.half {}

.root {
  :global(.ant-row) {
    margin-bottom: 15px;
  }
}